/* 
- Mobile: 375px
- Desktop: 1440px
*/
html 
{
    font-size: 62.5%;
    font-family: 'Overpass', sans-serif;
}

/* COLORS FROM STYLE GUIDE */
:root
{
    --orange: hsl(25, 97%, 53%);
    /* neutral */
    --white: hsl(0, 0%, 100%);
    --light-grey: hsl(217, 12%, 63%);
    --med-grey: hsl(216, 12%, 54%);
    --dark-blue: hsl(213, 19%, 18%);
    --vdark-blue: hsl(216, 12%, 8%);
}

body
{
    font-size: 1.5rem;
    background-color: var(--vdark-blue);
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.attribution { font-size: 1rem; text-align: center; color: var(--med-grey);margin-top: 1rem;}
.attribution a { color: var(--light-grey); }

.container
{
    /* background-color: var(--dark-blue); */
    background: linear-gradient(to bottom, hsla(213, 19%, 18%, .6), hsla(213, 19%, 18%, .3));
    width: 34rem;
    height: 33rem;
    padding: 3rem;
    border-radius: 2.5rem;
}

/*  initial landing is here */
.landing-page
{
    /* display: none; */
    display: block;
}

/* stuff in that little bubble at the top */
.bubble-container
{
    background-color: var(--dark-blue);
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
}

/* individual radius */
.star-icon
{
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 100%;
    margin-bottom: 2.5rem;
}

.star-icon img
{
    width: 1.5rem;
}

.selected-text
{
    border-radius: 2rem;
    margin: 2rem auto;
    width: 18rem;
}

.selected-text p
{
    display:inline-block;
    margin: auto;
    color: var(--orange);
}

/* text container */
.container-text h1
{
    color: var(--white);
    font-weight: 500;
    margin: 1rem auto;
    font-size: 2.5rem;
}

.container-text p
{
    line-height: 2.5rem;
    color: var(--light-grey);
    margin: 0;
}

/* rating button group */
.rating-section
{
    margin: 2.5rem auto 0rem auto;
}

.rating-scale
{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.rating-button
{
    border-style: none;
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 2.25rem;
    color: var(--light-grey);
    background-color: var(--dark-blue);
    padding: 1rem;
    margin-bottom: 1.5rem;
}

.rating-button:hover
{
    background-color: var(--med-grey);
    color: var(--white);
}

.submit-button
{
    color: var(--white);
    font-weight: 500;
    width: 100%;
    height: 4.5rem;
    border-radius: 2.5rem;
    background-color: var(--orange);
    letter-spacing: .25rem;
    border-style: none;
}

.submit-button:hover
{
    color: var(--orange);
    background-color: var(--white);
}

.rating-button:active,
.selected-button,
.selected-button:hover
{
    background-color: var(--orange);
    color: var(--white);
}

/* submitted stuff is here */
.submitted-page
{
    /* display: block; */
    display: none;

    text-align: center;
}

.thank-you
{
    margin: 1rem auto;
}
